html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(bg.png);
    overflow: hidden;
}

.mainName {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 5vw;
    color: white;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 43%;
    left: 53%;
    letter-spacing: 5vw; 
    transform: translate(-50%, -50%);
    animation: float 10s ease-in-out infinite;
}

@media screen and (max-width: 768px) {
    .mainName {
        font-size: 8vw; 
        letter-spacing: 6vw; 
    }
}

@media screen and (max-width: 480px) {
    .mainName {
        font-size: 10vw; 
        letter-spacing: 8vw; 
    }
}

.desc{
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    color: white;
    position: relative;
    padding: 0;
    margin: 0;
    top: 620px;
    left: 52%;
    transform: translateX(-50%) translateY(-50%);
}

.links{
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 495px;
    left: 51%;
    transform: translateX(-50%);
}

div.links img{
    width: 50px;
    height: 50px;
    transition: filter 0.3s ease, transform 0.3s ease;
}

@media screen and (max-width: 768px) {
    div.links img {
        width: 40px;  
        height: 40px;
    }
}

@media screen and (max-width: 480px) {
    div.links img {
        width: 30px; 
        height: 30px; 
    }
}

div.links img:hover{
    filter: brightness(.5); 
    transform: scale(1.1); 
}

@keyframes float {
    0% {
      transform: translate(-50%, -50%) translateY(0px);
    }
    50% {
      transform: translate(-50%, -50%) translateY(-20px);
    }
    100% {
      transform: translate(-50%, -50%) translateY(0px);
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: transparent;
}

.footerText {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: white;
    transform: translateX(-50%);
    left: 52%;
    bottom: 5px;
    position: absolute;
}

.version {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    transform: translateX(-50%);
    left: 2%;
    bottom: 5px;
    max-width: 50px;
    max-height: 60px;
}

@media screen and (max-width: 768px) {
    .version {
        font-size: 13px; 
        left: 5%; 
    }
}

@media screen and (max-width: 480px) {
    .version {
        font-size: 10px; 
        left: 8%; 
    }
}
